.container {
    margin-top: 10%;
    width: 80%;
}
label {
    margin-bottom: 0px;
}

button {
    width: 100%;
}

.button-wrapper {
    width: 100%;
    position: absolute;
    bottom:15px;
}

.input-wrapper {
    position: relative;
    margin-right: 15px;
    margin-left: -15px;
}

.mdl-list__item-primary-content {

    flex-grow: 0 !important;
}